@import "~antd/dist/antd.less";

@font-face {
  font-family: "sdLi";
  src: url("./font/AppleSDGothicNeoL.ttf") format("truetype");
}

@font-face {
  font-family: "sdMe";
  src: url("./font/AppleSDGothicNeoM.ttf") format("truetype");
}

@font-face {
  font-family: "sdBo";
  src: url("./font/AppleSDGothicNeoB.ttf") format("truetype");
}

@font-face {
  font-family: "sdSb";
  src: url("./font/AppleSDGothicNeoSB.ttf") format("truetype");
}

@font-face {
  font-family: "tmoneyBo";
  src: url("./font/TmoneyRoundWindExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "tmoneyRe";
  src: url("./font/TmoneyRoundWindRegular.ttf") format("truetype");
}
